/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #ece9e6 0%, #ffffff 100%);
    color: #2c2c3e;
    margin: 0;
    padding: 20px;
  }
  
  /* Header styles */
  h1 {
    color: #2b2c38;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 1px 1px #fff;
  }
  
  /* Form styles */
  form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    
  }
  
  form:hover {
    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }
  
  /* Label styles */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  /* Input and select styles */
  input[type='text'],
  select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fafafa;
    transition: border-color 0.3s ease;
  }
  
  input[type='text']:focus,
  select:focus {
    border-color: #5b4feb;
    outline: none;
  }
  
  /* Button styles */
  button {
    width: 100%;
    padding: 12px;
    background-color: #5b4feb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #493ad4;
    transform: translateY(-2px);
  }
  
  /* Container for displaying fetched data */
  #data-container {
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Player item styles */
  .item {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
  }
  
  .item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }
  
  /* Player image styles */
  .item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid #dedede;
  }
  
  /* Player info styles */
  .item p {
    margin: 0;
    font-size: 18px;
    color: #444;
  }
  